[client]
port   = 3306
socket = /db1/myserver/mariadb/run/mysql.sock

[mysqld]

# file paths
basedir  = /db1/myserver/mariadb/mariadb_files
datadir  = /db1/myserver/mariadb/data
socket   = /db1/myserver/mariadb/run/mysql.sock
pid-file = /db1/myserver/mariadb/run/mysqld.pid

# Networking
bind-address = 0.0.0.0
port         = 3306

# Logging
log_output       = FILE
log_error        = /db1/myserver/mariadb/logs/error.log
general_log      = ON
general_log_file = /db1/myserver/mariadb/logs/general.log
# slow_query_log      = ON
# slow_query_log_file = /db1/myserver/mariadb/logs/slow.log

# Run as this user
user = harsh
